<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Events</a></li>
  <li role="presentation"><a href="#">Favorite</a></li>
  <li role="presentation"><a href="#">About Us</a></li>
</ul>
<div id="event-list"></div>

