<h3><a href="#events/<%= event.id %>" data-id="<%= event.id %>"><%= event.escape("title") %></a></h3>
<div class="event-list-item">
	<%= event.escape("description").substr(0,150) + "..." %>

	
</div> 

