<h3 data-id="<%= event.id %>"><%= event.escape("title") %></h3>
<div class="event-list-item">
	<%= event.escape("description").substr(0,150) + "..." %>
	<img src="<%= event.escape("imageURL") %>" class="img-rounded" >
</div>