<div id="main" class="clearfix">
	<div id="map-canvas"></div>
	<div id="side-bar">sidebar here</div>
	<!-- <div id="search" class="jumbotron"> --><div id="search-box"><span class="glyphicon glyphicon-search search-icon"></span></div><!-- </div> -->
</div>
<script>$(Whiggly.initialize);</script>
