<div id="main" class="clearfix">
	<div id="map-canvas"></div>
	<div id="side-bar">
		<div id="arrow"><span class="glyphicon glyphicon-circle-arrow-left"></span></div>
		<div id="side-content"></div>
	</div>
</div>

<script>$(Whiggly.initialize);</script>
