/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome";
//* {
//	color: #CC0000;
//}


a {
	color: #CC0000;
}

a:hover {
	text-decoration: none;
	color: #f20303;
}

html { 
	height: 100%; 
}

body { 
	height: 100%; 
	margin: 0; 
	padding: 0; 
}

.container {
	position: relatives;
	height: 100%;
	width: 100%;
	margin: 0; 
	padding: 0; 
}

.cust-nav {
	margin: 0px;
	//background: rgba(0,0,0,0.4);
}

a.navbar-brand {
	font-family: 'Pacifico', cursive;
	color: #CC0000 !important;
	font-size: 24px;
}

a.navbar-brand img {
	margin-top: -10px;
	margin-left: 2px;
}

p.navbar-brand {
	font-family: 'Pacifico', cursive;
	color: #CC0000 !important;
	font-size: 14px;
	padding-top: 20px;
}

.whiggly-button {
	color: white;
	border-color: #CC0000;
	background-color: #CC0000;
	margin-right: 5px;
}

.whiggly-button:hover {
	background-color: #B80000;
	color: white;
}

.whiggly-button a {
	color: white;
}
#main {
	position: absolute;
	margin-top: 52px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#map-canvas { 
	height: 100%;
	width: 100%;
}

#side-bar {
	transition: all 1s;
	overflow: hidden;
	position: absolute;
	right: 0%;
	width: 2%;
	height: 100%;
	top: 0;
	border: 1px solid;

	&:hover {
		width: 20%;
		#side-content {
			margin-left: 10%;
			overflow-y: auto;
		}
	}
}

#side-content {
	transition: all 1s;
	overflow: hidden;
	
	border: 1px solid red;
	height: 100%;
	top: 0px;
	margin-left: 100%;
}
 
#arrow {
	font-size: 30px;
	float: left;
	position: relative;
	top: 50%;
	transform: translateY(-50%)
}

//#search-box {
//	position: absolute;
//	border: 2px solid lightgrey;
//	width: 400px;
//	bottom: 50px;
//	background-color: white;
//	left: 34%;
//	text-align: center;
//}

.login {
	width: 250px;
	margin: 0 auto;
}

#password {
	margin-left: 2px;
}

.submit {
	margin-left: 73px;
}

//TODO add responsive element
//.text-box *:hover {
//	background-color: lightgrey;
//}

.text-box dt {
	display: inline-block;
}

.info-text {
	width: 160px;
	float: right;
}


#search-form {
	overflow: hidden;
  transition: all .6s;
	white-space: nowrap;
  width: 680px;
	height: 40px;
  border-radius: 20px;
	border: none;
  cursor: pointer;
	outline: none;
  &:hover {
		background-color: #F2F2F2;
		position: relative;
		left: 0%;
		border: 1px solid white;
		button {
//			right: 0%;
      margin-left: 10px;
			margin-top: 4px;
	    background: rgb(255, 210, 210);
			right: 5px;
			top: 4px;
			left: auto;
		}
		input {
			width: 200px;
			margin: 3px;
			position: relative;
			left: 0%;
			border: 1px solid lightgrey;
			background: white;
			&:active {
				//TODO highlight this!
			}
		}
  }
	
}

#search-form input {
	transition: all .6s;
//	position: absolute;
  border: none;
	background: none;
	left: -100%;
	float: left;
	width: 0px;
	margin-left: -4.5em;
	border-radius: 4px;
	margin: 2px;
//	vertical-align: center;
	line-height: 26px;
	outline: none;
//	margin-bottom: 3px;
	//border: 0;//
//	box-shadow: 0;
}

#search-button {
	transition: all .6s;
//	position: absolute;
//	right: 0px;
//	right: 50%;
//	float: right; 
  margin-left: 44%;
	margin-top: 3px;
  width: 30px;
	height: 30px;
  border-radius: 20px;
	border: none;
  cursor: pointer;
  background: rgb(255, 218, 218);
	color:  #CC0000;
	outline: none;
	bottom: 17px;
  &:hover {
    color: white;
    background: rgb(255, 210, 210);
    box-shadow: 0 0 0 3px #CC0000;
  }
}

.search-icon {
	float: right;
	font-size: 1.4em;
	cursor: pointer;
	line-height: 40px;
	top: -7px;
	left: 1px;
}

#ui-datepicker-div {
	top: 52px !important;
}

.ui-datepicker {
	color: #CC0000;
	background-color: #fff;
	border: 1px solid #CC0000;
	border-radius: 4px;
	box-shadow: 0 0 8px rgba(102,175,233,.6);
	display: none;
	margin-top: 4px;
	padding: 10px;
	width: 240px;
}
.ui-datepicker a,
.ui-datepicker a:hover {
	text-decoration: none;
}
.ui-datepicker a:hover,
.ui-datepicker td:hover a {
	color: #D63333;
	-webkit-transition: color 0.1s ease-in-out;
	   -moz-transition: color 0.1s ease-in-out;
	     -o-transition: color 0.1s ease-in-out;
	        transition: color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-header {
	margin-bottom: 4px;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title {
	font-weight: 700;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	cursor: default;
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: normal;
	height: 20px;
	line-height: 1;
	margin-top: 2px;
	width: 30px;
}
.ui-datepicker .ui-datepicker-prev {
	float: left;
	text-align: left;
}
.ui-datepicker .ui-datepicker-next {
	float: right;
	text-align: right;
}
.ui-datepicker .ui-datepicker-prev:before {
	content: "\e079";
}
.ui-datepicker .ui-datepicker-next:before {
	content: "\e080";
}
.ui-datepicker .ui-icon {
	display: none;
}
.ui-datepicker .ui-datepicker-calendar {
  table-layout: fixed;
	width: 100%;
}
.ui-datepicker .ui-datepicker-calendar th,
.ui-datepicker .ui-datepicker-calendar td {
	text-align: center;
	padding: 4px 0;
}
.ui-datepicker .ui-datepicker-calendar td {
	border-radius: 4px;
	-webkit-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	   -moz-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	     -o-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	        transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-calendar td:hover {
	background-color: #eee;
	cursor: pointer;
}
.ui-datepicker .ui-datepicker-calendar td a {
	text-decoration: none;
}
.ui-datepicker .ui-datepicker-current-day {
	background-color: #CC0000;
}
.ui-datepicker .ui-datepicker-current-day a {
	color: #fff
}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable:hover {
	background-color: #fff;
	cursor: default;
}
