/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome";

html { 
	height: 100%; 
}

body { 
	height: 100%; 
	margin: 0; 
	padding: 0; 
}

.container {
	position: relatives;
	height: 100%;
	width: 100%;
	margin: 0; 
	padding: 0; 
}

.cust-nav {
	margin: 0px;
	//background: rgba(0,0,0,0.4);
}

a.navbar-brand {
	font-family: 'Pacifico', cursive;
	color: #CC0000 !important;
	font-size: 24px;
}

a.navbar-brand img {
	margin-top: -10px;
	margin-left: 2px;
}

p.navbar-brand {
	font-family: 'Pacifico', cursive;
	color: #CC0000 !important;
	font-size: 14px;
	padding-top: 20px;
}

.whiggly-button {
	color: white;
	border-color: #CC0000;
	background-color: #CC0000;
	margin-right: 5px;
}

.whiggly-button:hover {
	background-color: #B80000;
	color: white;
}

#main {
	position: absolute;
	margin-top: 52px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#map-canvas { 
	height: 100%;
	width: 100%;
}

#side-bar {
	position: absolute;
	right: 0;
//	border: 2px solid red;//delete eventually
	width: 20%;
	height: 100%;
	top: 0;
}
 
#search-box {
	position: absolute;
	border: 2px solid lightgrey;
	width: 400px;
	bottom: 50px;
	background-color: white;
	left: 34%;
	text-align: center;
}

.login {
	width: 250px;
	margin: 0 auto;
}

#password {
	margin-left: 2px;
}

.submit {
	margin-left: 73px;
}

//TODO add responsive element
//.text-box *:hover {
//	background-color: lightgrey;
//}

.text-box p {
//	display: inline-block;
}

.text-box dt {
	display: inline-block;
}

.info-text {
	width: 160px;
	float: right;
}

$tl: 0.6s;
#search-box {
	position: absolute;
	bottom: 10px;
	left: 47%;
  transition: width $tl, border-radius $tl, background $tl, box-shadow $tl;
  width: 40px;
	height: 40px;
  border-radius: 20px;
	border: none;
  cursor: pointer;
  background: rgb(255, 218, 218);
	color:  #CC0000;
  &:hover {
    color: white;
    background: rgb(255, 210, 210);
    box-shadow: 0 0 0 5px #CC0000;
  }
	
}

.search-icon {
	font-size: 1.4em;
	cursor: pointer;
	line-height: 40px;
}

