<nav role="navigation" class="navbar navbar-default cust-nav">
	<div class="container-fluid">
		<div class="navbar-header">
	      <a class="navbar-brand" href="#">
	        Whiggly<img src="<%= asset_path('fox.png') %>" height="33px">
	      </a>
				<p class="navbar-brand">Location Based Storytelling</p>
    </div>
		
		<ul class="nav navbar-nav navbar-right">
<% if signed_in? %>
	<li><%= button_to "Sign out", session_url, method: :delete, class: "btn navbar-btn whiggly-button" %></li>
<% else %>
  <li><%= link_to "Log in", new_session_url %></li>
  <li><%= link_to "Sign up", new_user_url %></li>
<% end %>
	</ul>
</div>
</nav>