<!--idle right now -->
<div id="search">
	<input type="text" class="span12 datepicker" placeholder="Any Start Date">
	<input type="text" class="span12 datepicker" placeholder="Any End Date">
	<!--TODO make this autocomplete -->
	<input type="text" id="tags" placeholder="search for tags like 'cat'">
	<div id="search-button">
		<span class="glyphicon glyphicon-search search-icon"></span>
	</div>
</div>
	
<!--start date, start time, end date end time, tags? -->
	